#MLProperties: name (type:default) min:max -- information
#MLProp : axeIds (java.lang.String:258, 271, 275, 279, 286) -- List of item ids that are axes.
#
#Thu Jan 22 08:56:58 MST 2015
axeIds=258, 271, 275, 279, 286
